.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f6f8;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.login-form {
  background: #ffffff;
  padding: 40px;
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  color: #29672b;
}

.login-form button {
  padding: 6px;
  margin: 8px 0 0 0;
  border: none;
  border-radius: 3px;
  color: white;
  background: #10b981;
  cursor: pointer;
  transition: 0.2s;
  width: 170px;
}

.login-form button:hover {
  background: #059669;
  transform: translateY(-5px);
}

.input-group {
  padding: 8px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.input-group label {
  font-size: 18px;
  margin: 0 0 3px 0;
  color: #4b5563;
}

.input-group input {
  padding: 8px;
  border: none;
  background: #eefdee;
  outline: none;
  border-radius: 3px;
  color: #105802;
}

.input-group input::-webkit-input-placeholder {
  color: #777;
  -webkit-input-fill-color: #777;
}

.input-group input::placeholder {
  color: #777;
  opacity: 1;
}

.success-msg {
  color: #10b981;
  font-weight: bold;
  margin-top: 10px;
}

.error-msg {
  color: #ef4444;
  font-weight: bold;
  margin-top: 10px;
}

.toggle-text {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.toggle-link {
  color: #10b981; /* Matches the green theme used in your status text */
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition:
    color 0.2s ease,
    text-decoration 0.2s ease;
}

.toggle-link:hover {
  color: #059669; /* Darker green on mouse hover */
  text-decoration: underline;
}
