body {
  background-color: rgb(28, 14, 44);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#timer {
  margin: 10px;
  font-size: 24px;
}
